/* ---------------------- ELEMENTS ----------------------*/
body {
    background-color: blanchedalmond;
}

table.families {
    width: 30%;
    margin: auto;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
}

table.families td,
table.families th {
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    text-align: center;
    padding: 6px;
}

table.families td.check {
    background-color: green;
}

table.families td.uncheck {
    background-color: rgb(235, 53, 53);
}

table.families thead {
    background-color: #000000;
    color: #FFFFFF;
}

input[type='checkbox'] {
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
}

/* ---------------------- CLASSES ----------------------*/

.centered {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

/* ---------------------- IDs ----------------------*/