/* ---------------------- ELEMENTS ----------------------*/
body {
    background-color: blanchedalmond;
}

table.families {
    width: 30%;
    margin: auto;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
}

table.families td,
table.families th {
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    text-align: center;
    padding: 6px;
}

table.families td.check {
    background-color: green;
}

table.families td.uncheck {
    background-color: rgb(235, 53, 53);
}

table.families thead {
    background-color: #000000;
    color: #FFFFFF;
}

input[type='checkbox'] {
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
}

div.navbar-container {
    background-color: rgba(127, 255, 212, 0.361);
    padding: 20px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* ---------------------- CLASSES ----------------------*/

.centered {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.period-div {
    width: 80%;
    height: 300px;
    margin: 10px auto;
    background: radial-gradient(circle, rgba(135, 46, 46, 1) 13%, rgba(0, 0, 0, 1) 99%);

    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.week-div {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: rgb(107, 189, 88);

    /* vertical-align: middle; */
    text-align: center;
    color: #000000;
}


/* ---------------------- IDs ----------------------*/