<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel='stylesheet' href="{% static 'css/styles.css' %}">
        <title>{% block title %}{% endblock %} - Les Caroubiers</title>
    </head>
    <body>
        <nav>
            <div class='navbar-container'>
                <div class='navbar-item'><a href="{% url 'index' %}">Accueil</a></div>
                <div class='navbar-item'>
                    Inscriptions Périscolaire
                    <div class='navbar-sub-container'>
                        <div class='navbar-sub-item'><a href="{% url 'inscription-perisco-equipier' %}">Equipiers</a></div>
                        <div class='navbar-sub-item'><a href="{% url 'inscription-perisco-enfant' %}">Enfants</a></div>
                    </div>
                </div>
                <div class='navbar-item'>
                    Gestion
                    <div class='navbar-sub-container'>
                        <div class='navbar-sub-item'><a href="{% url 'gestion-familles' %}">Familles</a></div>
                        <div class='navbar-sub-item'><a href="{% url 'gestion-plannings' %}">Plannings</a></div>
                        <div class='navbar-sub-item'><a href="{% url 'get-base-plannings' %}">Mon beau JSON des plannings</a></div>
                    </div>
                </div>
            </div>
        </nav>
        <div id='body-block'>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>