<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel='stylesheet' href="{% static 'css/styles.css' %}">
        <title>{% block title %}{% endblock %} - Les Caroubiers</title>
    </head>
    <body>
        <nav>
            <div class='navbar-container'>
                <div class='navbar-item'><a href="{% url 'index' %}">Accueil</a></div>
                <div class='navbar-item'>
                    Inscriptions Périscolaire
                    <div class='navbar-sub-container'>
                        <!--On pourrait mettre ce qu'on veut ici mais si on ne met pas "Enfant" le choix du cycle ne s'affichera pas sur la page-->
                        {% with cible_1='Enfant' cible_2='Equipier' %}
                        <div class='navbar-sub-item'><a href="{% url 'inscription-perisco' 1 cible_1 %}">{{ cible_1 }}</a></div>
                        <div class='navbar-sub-item'><a href="{% url 'inscription-perisco' 1 cible_2 %}">{{ cible_2 }}</a></div>
                        {% endwith %}
                    </div>
                </div>
                <div class='navbar-item'>
                    Gestion
                    <div class='navbar-sub-container'>
                        <div class='navbar-sub-item'><a href="{% url 'gestion-familles' %}">Familles</a></div>
                        <div class='navbar-sub-item'><a href="{% url 'gestion-plannings' %}">Plannings</a></div>
                        <div class='navbar-sub-item'><a href="{% url 'selection-periode' %}">Périodes</a></div>
                        <div class='navbar-sub-item'><a href="{% url 'get-base-plannings' %}">Mon beau JSON des plannings</a></div>
                    </div>
                </div>
            </div>
        </nav>
        <div id='body-block'>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>