{% extends 'pages/base.html' %}

{% block title %}Gestion{% endblock %}

{% block body %}
<h1>Gestion</h1>
<h2>Familles</h2>
<table class='families'>
    <thead>
        <tr>
            <th>Famille</th>
            <th>Enfant au collège</th>
            <th>Enfant en primaire</th>
        </tr>
    </thead>
    {% for family in families %}
    <tr>
        <td>{{family.name}}</td>
        {% if family.has_child_in_school %}
        <td class='check'>x</td>
        {% else %}
        <td class='uncheck'></td>
        {% endif %}
        {% if family.has_child_in_college %}
        <td class='check'>x</td>
        {% else %}
        <td class='uncheck'></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

    <h2>Ajouter une famille</h2>
    <form action='' method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Valider'>
    </form>
{% endblock %}