{% extends 'pages/base.html' %}
{% load static %}
{% block title %}Plannings{% endblock %}

{% block body %}
<h1>Gestion - Plannings</h1>

<h2>Préparation de la période</h2>

<h2>Plannings de la période</h2>

<h3>Planning équipier - école</h3>
<div id='ecole-div'></div>
<h3>Planning équipier - collège</h3>
<div id='college-div'></div>
<h3>Planning enfant - école</h3>
<div id='ecole-div'></div>
<h3>Planning enfant - collège</h3>
<div id='college-div'></div>

<ul></ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'js/planning_generation.js' %}" data-plannings-url="{% url 'get-base-plannings' %}" id="plannings-construct"></script>
{% endblock %}