{% extends 'pages/base.html' %}
{% load static %}

{% block title %}PERISCOLAIRE - Inscription {{ cible_inscription }}{% endblock title %}

{% block body %}
<h1>PERISCOLAIRE - Inscription {{ cible_inscription }}</h1>
<p>Veuillez indiquer les besoins en périscolaire de votre enfant pour la prochaine période.</p>
<p>La section "<em>semaine type</em>" permet d'inscrire votre enfant en une seule fois à un ou plusieurs créneau(x) sur toute la période.<br>
    La section "<em>Inscription par jour et par créneau</em>" permet de définir à chaque semaine les besoins correspondants.<br>
    Vous pouvez utiliser les 2 sections. Voici un exemple:
</p>
<ul>
    <li>L'enfant reste tous les lundis midis : indiquez-le dans la section <em>semaine type</em></li>
    <li>L'enfant reste le mardi soir une semaine sur deux: indiquez-le dans les semaines correspondantes de la section <em>Inscription par jour et par créneau</em>.</li>
</ul>
<p>Rappel des horaires pour les créneaux du matin et du soir :
</p>
<ul>
    <li>Matin : à partir de 08H00</li>
    <li>Soir : jusqu'à 18H00</li>
</ul>
{% comment %} {% lorem 3 p %} {% endcomment %}

<h2>Identification de l'{{ cible_inscription }}</h2>
<form action='' method='POST'>
    <div class='identification'>
    {% csrf_token %}
    <table class="identification">
    <tr>
        <td class="label"><label for='{{ cible_inscription|lower }}-label'>Prénom</label></td>
        <td class="userInput"><input type='text' name='{{ cible_inscription|lower }}-label' id='{{ cible_inscription|lower }}-label' placeholder='Jean...'></td>
    </tr>
    <tr>
        <td class="label"><label for='{{ cible_inscription|lower }}-famille'>Famille</label></td>
        <td class="userInput"><select name='{{ cible_inscription|lower }}-famille' id='{{ cible_inscription|lower }}-famille'>
        {% for family in families %}
        <option value='{{ family.name }}'>{{ family.name }}</option>
        {% endfor %}
        </select></td>
    </tr>
    <tr>
    {% if cible_inscription|lower == "enfant" %}
    <!--Inputs spécifique à l'enfant. Les value sont importante !! (cf : models)-->
    <td class="label"><label for='cycle'>Cycle</label></td>
    <td class="userInput"><select name='cycle' id='cycle'>
        <option value='C1'>cycle 1</option>
        <option value='C2'>cycle 2</option>
        <option value='C3'>cycle 3</option>
        <option value='COL'>college</option>
    </select></td>
    {% else %}
    <!--Inputs spécifique à l'équipier-->
    {% endif %}
    </tr>
    </table>
    </div>

    <hr>
    <h2>Semaine type</h2>
    <div class='semaine'>
    {% include 'pages/includes/semaine_form.html' with semaine=semaineType isSemaineType=True cible_inscription=cible_inscription %}
    </div>

    <hr>
    <h2>Inscription par jour et par créneau</h2>
    <div class='semaine'>
    {% for currentWeek in templatePeriod.semaines %}
    <h3>Semaine {{ currentWeek.numeroSemaineAnnuel }} : {{ currentWeek.datedebut }} - {{ currentWeek.datefin }}</h3>
    {% include 'pages/includes/semaine_form.html' with semaine=currentWeek labelSemaine='sem'%}
    {% endfor %}
    </div>
    
    <hr>
    <h2>Commentaire</h2>
    <!-- <label for="commentaire">Commentaire :</label><br> -->
    <textarea name="commentaire" rows="7" cols="50" maxlength='1500' placeholder='Insérer un commentaire...' id="commentaire"></textarea>
    
    <hr>
    <h2>Validation</h2>
    <input type='submit' value='Valider'>
</form>

<script src="{% static 'js/semaine_type.js' %}"></script>
{% endblock body %}