{% extends 'pages/base.html' %}
{% load static %}

{% block title %}PERISCOLAIRE - Inscription {{ cible_inscription }}{% endblock title %}

{% block body %}
<h1>PERISCOLAIRE - Inscription {{ cible_inscription }}</h1>
<p>Veuillez indiquer les besoins en périscolaire de votre enfant pour la prochaine période.</p>
<p>La section "<em>semaine type</em>" permet d'inscrire votre enfant en une seule fois à un ou plusieurs créneau(x) sur toute la période.<br>
    La section "<em>Inscription par jour et par créneau</em>" permet de définir à chaque semaine les besoins correspondants.<br>
    Vous pouvez utiliser les 2 sections. Voici un exemple:
</p>
<ul>
    <li>L'enfant reste tous les lundis midis : indiquez-le dans la section <em>semaine type</em></li>
    <li>L'enfant reste le mardi soir une semaine sur deux: indiquez-le dans les semaines correspondantes de la section <em>Inscription par jour et par créneau</em>.</li>
</ul>
<p>Rappel des horaires pour les créneaux du matin et du soir :
</p>
<ul>
    <li>Matin : à partir de 08H00</li>
    <li>Soir : jusqu'à 18H00</li>
</ul>
{% comment %} {% lorem 3 p %} {% endcomment %}

<h2>Identification de l'{{ cible_inscription }}</h2>
<form action='' method='POST'>
    <label for='{{ cible_inscription|lower }}-label'>Prénom : </label>
    <input type='text' name='{{ cible_inscription|lower }}-label' id='{{ cible_inscription|lower }}-label' placeholder='Jean...'><br><br>
    <label for='{{ cible_inscription|lower }}-famille'>Nom de l'enfant : </label>
    <select name='{{ cible_inscription|lower }}-famille' id='{{ cible_inscription|lower }}-famille'>
        {% for family in families %}
        <option value='{{ family.name }}'>{{ family.name }}</option>
        {% endfor %}
    </select><br><br>
    {% if cible_inscription|lower == "enfant" %}
    <!--Inputs spécifique à l'enfant. Les value sont importante !! (cf : models)-->
    <label for='cycle'>Cycle : </label>
    <select name='label' id='cycle'>
        <option value='C1'>cycle 1</option>
        <option value='C2'>cycle 2</option>
        <option value='C3'>cycle 3</option>
        <option value='COL'>college</option>
    </select>
    {% else %}
    <!--Inputs spécifique à l'équipier-->
    {% endif %}

    <hr>
    <h2>Semaine type</h2>
    {% include 'pages/includes/semaine_form.html' with semaine=semaineType isSemaineType=True%}
    
    <hr>
    <h2>Inscription par jour et par créneau</h2>
    {% for currentWeek in templatePeriod.semaines %}
    <h3>Semaine {{ currentWeek.numeroSemaineAnnuel }} : Du {{ currentWeek.datedebut }} au {{ currentWeek.datefin }}</h3>
    {% include 'pages/includes/semaine_form.html' with semaine=currentWeek labelSemaine='sem'%}
    {% endfor %}
    
    <hr>
    <h2>Commentaires</h2>
    <label for="commentaire">Commentaire :</label><br>
    <textarea name="commentaire" rows="10" cols="50" maxlength='1500' placeholder='Insérer un commentaire...' id="commentaire"></textarea>
    
    <hr>
    <h2>Validation</h2>
    <input type='submit' value='Valider'>
</form>

<script src="{% static 'js/semaine_type.js' %}"></script>
{% endblock body %}